<p id="notice"><%= notice %></p>

<h1>開催日程</h1>

<div id="left_column">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th class="border_n" rowspan="2" width="30%" bgcolor="#bfbfbf">日時・場所</th>
            <td class="border_l" colspan="4" align="center" bgcolor="#bfbfbf">コメント</td>
            <tr>
                <td class="border_tl" align="center" bgcolor="#99ffcc">参加</td>
                <td class="border_tl" align="center" bgcolor="#ffffcc">多分</td>
                <td class="border_tl" align="center" bgcolor="#d3d3d3">未定</td>
                <td class="border_tl" align="center" bgcolor="#ffb6c1">欠席</td>
            </tr>
        </tr>
        <% @schedules.each do |schedule| %>
        <% if @schedule.id == schedule.id %>
        <tr class="active">
            <td class="border_t" rowspan="2">            
                <% weeks = ["月","火","水","木","金","土","日"] %>
                <% index = schedule.ymd.strftime("%u").to_i %>
                <%= link_to schedule.ymd.strftime("%Y年%m月%d日(#{weeks[index - 1]})"), schedule %><br><%= schedule.start.strftime('%H:%M') %> ～ <%= schedule.end.strftime('%H:%M') %><br><%= schedule.place %>
            </td>
            <td class="border_tl" colspan="4"><%= simple_format schedule.addcomment %></td>
            <tr class="active">
                <td class="border_tl" align="center"><%= schedule.answers.sanka&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.tabun&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.mitei&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.kesseki&.count %></td>
            </tr>
        </tr>
        <% else %>
        <tr>
            <td class="border_t" rowspan="2">            
                <% weeks = ["月","火","水","木","金","土","日"] %>
                <% index = schedule.ymd.strftime("%u").to_i %>
                <%= link_to schedule.ymd.strftime("%Y年%m月%d日(#{weeks[index - 1]})"), schedule %><br><%= schedule.start.strftime('%H:%M') %> ～ <%= schedule.end.strftime('%H:%M') %><br><%= schedule.place %>
            </td>
            <td class="border_tl" colspan="4"><%= simple_format schedule.addcomment %></td>
            <tr>
                <td class="border_tl" align="center"><%= schedule.answers.sanka&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.tabun&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.mitei&.count %></td>
                <td class="border_tl" align="center"><%= schedule.answers.kesseki&.count %></td>
            </tr>
        </tr>
        <% end %>
        <% end %>
    </table>
    <p><%= @caution %></p>
    <div style="clear: both; padding: 10px 0 20px;"><%= link_to '日程を作成する（※管理者用）', new_schedule_path, { class: "btn-border" } %></div>
</div>

<div id="right_column">
    <table cellspacing="0" cellpadding="0" style="margin-bottom: 30px;">
        <tr>
            <th class="border_n" width="20%" bgcolor="#99ffcc">参加</th>
            <td class="border_l">
            <% @answers_sanka&.each do |answers| %>
                <%= answers.name %>：<%= answers.comment %>
                <%= link_to('×', answers, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
            <% end %>
            </td>
            </tr>
        <tr>
            <th class="border_t" bgcolor="#ffffcc">多分参加</th>
            <td class="border_tl">
            <% @answers_tabun&.each do |answers| %>
                <%= answers.name %>：<%= answers.comment %>
                <%= link_to('×', answers, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
            <% end %>
            </td>
        </tr>
        <tr>
            <th class="border_t" bgcolor="#d3d3d3">未定</th>
            <td class="border_tl">
            <% @answers_mitei&.each do |answers| %>
                <%= answers.name %>：<%= answers.comment %>
                <%= link_to('×', answers, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
            <% end %>
            </td>
        </tr>
        <tr>
            <th class="border_t" bgcolor="#ffb6c1">欠席</th>
            <td class="border_tl">
            <% @answers_kesseki&.each do |answers| %>
                <%= answers.name %>：<%= answers.comment %>
                <%= link_to('×', answers, { method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-border2' }) %><br>
            <% end %>
            </td>
        </tr>
    </table>
    <%= render 'form2', answers: @answer %>
</div>
