<!DOCTYPE html>
<html>
  <head>
       <title>NEK</title>
<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header><h1>NEK</h1></header>
    <div id="column"><%= yield %></div>
  <footer>&copy;2021 D Brand Co.,Ltd.<span><%= link_to 'ご利用規約', schedule_path('kiyaku'), { class: "tar" } %></span></footer>
  </body>
</html>
